root = true

[*]
# 结尾换行符，可选"lf"、"cr"、"crlf"
end_of_line = lf
# 在文件结尾插入新行
insert_final_newline = true
# 删除一行中的前后空格
trim_trailing_whitespace = true
# 设置字符集
charset = utf-8

[*.{py}]
indent_style = space
indent_size = 4

[*.{js}]
indent_style = space
indent_size = 2
